In [18]:
for i in range(5):
    print(i)
    
a = range(0,5,2)    
print(type(range(5)), a[:2])

0
1
2
3
4
<class 'range'> range(0, 4, 2)

In [13]:
import numpy as np
x = np.arange(1,5)
print(x[1:], type(x))
#print(x[:], type(x), x.reshape(2,3))

[2 3 4] <class 'numpy.ndarray'>

In [27]:
my_name = 'Sean'
name2 = 'Hello %s' % my_name
print(type(name2))
print('Hello %s' % my_name)

print('Hello {}'.format(my_name))

<class 'str'>
Hello Sean
Hello Sean

In [47]:
my_name = 'Sean'
my_name2 = 'Dennis'
#print ('Hello {0}, {1}'.format(my_name, my_name2))
print ('Hello {name}'.format(name=(my_name,my_name)))

Hello ('Sean', 'Sean')

In [48]:
my_lst_of_lsts = [[1, 2, 3], ['str1', 'str2', 'str3', 'str4'], [1, 'mixed', 3]]

In [49]:
my_lst_of_lsts

[[1, 2, 3], ['str1', 'str2', 'str3', 'str4'], [1, 'mixed', 3]]

In [65]:
my_list = [1, 2, 3, '20']
my_list.append(5)
#my_list.pop()
#my_list.pop()
print(my_list)

my_list.remove('20')
print(my_list)

[1, 2, 3, '20', 5]
[1, 2, 3, 5]

In [66]:
my_list.reverse()

In [67]:
print(my_list)

[5, 3, 2, 1]

In [68]:
my_list.sort()

In [69]:
print(my_list)

[1, 2, 3, 5]

In [72]:
my_list.sort()

In [73]:
print(my_list)

[1, 2, 3, 5]

In [80]:
my_list.sort()

In [81]:
print(my_list)

[5, 3, 2, 1]

In [90]:
my_list.replace(0,'20')

AttributeError: 'list' object has no attribute 'replace'

In [86]:
print(my_list)

['20', 20, 5, 3, 2, 1]

In [91]:
my_lst = [1, 2, 3, 4, 5]
my_lst2 = [1, 2, 3, 4, 5]
my_list3=my_lst + my_lst2

In [92]:
print(my_list3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [100]:
for num in my_lst:
    test = print(num*2).append()

2

AttributeError: 'NoneType' object has no attribute 'append'

In [97]:
test

In [98]:
print(test)

None

In [101]:
states_caps = [('Georgia', 'Atlanta'), ('Colorado', 'Denver'), ('Indiana', 'Indianapolis')]
states_caps

[('Georgia', 'Atlanta'), ('Colorado', 'Denver'), ('Indiana', 'Indianapolis')]

In [102]:
print(states_caps)

[('Georgia', 'Atlanta'), ('Colorado', 'Denver'), ('Indiana', 'Indianapolis')]

In [103]:
search_state = 'Indiana'
capital = 'State not found'
for state_cap in states_caps:
    if state_cap[0] == search_state:
        capital = state_cap[1]
        break
print(capital)

Indianapolis

In [104]:
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}
states_caps_dict['Indiana']

'Indianapolis'

In [105]:
states_caps_dict.get('Washington', 'State not found')

'State not found'

In [108]:
print(states_caps_dict.get(1))

None

In [113]:
my_dict = {: 'This wont work'}
print(my_dict)

SyntaxError: invalid syntax (<ipython-input-113-d1329b41491f>, line 1)

In [114]:
states_caps_dict

{'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}

In [129]:
print(states_caps_dict)

{'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}

In [140]:
for state, capital in states_caps_dict.items():
    print(state, capital)

Georgia Atlanta
Colorado Denver
Indiana Indianapolis